@keyframes squeeze {
	from {
		width: 150px;
		height: 150px;

		border-color: #035397;
	}

	to {
		width: 147px;
		height: 147px;

		border-color: gray;
	}
}

.squeeze {
	animation-name: squeeze;
	animation-duration: 150ms;
	animation-direction: alternate;
	animation-iteration-count: 2;
}

.notransition {
	transition: none !important;
}
